body {
  background-color:  #536C4F
}
li {
  font-family: din;
  font-size: 16px;
  color: FBFBF9;
}
p {
  font-family: din;
  font-size: 16px;
  color: FBFBF9;
  background-color:  #53A4439
}
h3 {
  font-family: bahnschrift;
  font-size: 24px;
  color: FBFBF9;
  background-color:  #3A4439
}